name: Corndogs release
on:
  pull_request:
    types:
      - closed
    branches:
      - main
    paths:
      - corndogs/**
jobs:
  corndogs-release:
    name: Corndogs release
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      new_release_published: "${{ steps.semver-tags.outputs.new_release_published }}"
      new_release_version: "${{ steps.semver-tags.outputs.new_release_version }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GIT_RUNNER_TOKEN }}
          fetch-depth: 0
      - name: Setup git config
        run: |
          git config --global user.name "Test Automation"
          git config --global user.email "<jacob+testautomation@todandlorna.com>"
      - name: Get semver-tags
        run: |
          wget -c https://github.com/catalystsquad/semver-tags/releases/download/v0.3.5/semver-tags.tar.gz -O - | tar -xz
      - name: Semver Tags
        id: semver-tags
        shell: bash
        run: |
          ./semver-tags run --github_action --directories corndogs
      - name: Cleanup Semver Tags
        shell: bash
        run: |
          rm ./semver-tags
      - if: steps.semver-tags.outputs.new_release_published == 'true'
        name: Make Release
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_RUNNER_TOKEN }}
          RELEASE_NAME: ${{ steps.semver-tags.outputs.new_release_git_tag }}
        run: |
          ./.github/scripts/make_general_release.sh "${RELEASE_NAME}"
      - if: steps.semver-tags.outputs.new_release_published == 'true'
        name: Update chart appVersion
        shell: bash
        run: |
          sed -i "0,/appVersion:.*/s//appVersion: \"${{ steps.semver-tags.outputs.new_release_version }}\"/g" helm_chart/chart/Chart.yaml

      - if: steps.semver-tags.outputs.new_release_published == 'true'
        name: Make PR for chart
        id: make-chart-pr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GIT_RUNNER_TOKEN }}
          title: "ci: Update helm appVersion to ${{ steps.semver-tags.outputs.new_release_version }} for ${{ github.event.pull_request.title }}"
          body: 'Automated changes triggered by [pull request](${{ github.event.pull_request._links.html.href }})<br />${{ github.event.pull_request.body }}'
          commit-message: ${{ github.event.pull_request.title }}
          branch: 'update-chart-appversion-to-${{ steps.semver-tags.outputs.new_release_version }}'
          delete-branch: true
          labels: automerge
      - if: steps.semver-tags.outputs.new_release_published == 'true'
        name: Enable automerge for chart PR
        env:
          GH_TOKEN: ${{ secrets.GIT_RUNNER_TOKEN }}
        run: gh pr merge --rebase --auto ${{ steps.make-chart-pr.outputs.pull-request-url }}
#TODO: push to quay https://github.com/catalystcommunity/action-build-push-image-quay


