name: Pull Request
on:
  pull_request:
    branches:
      - main
    paths:
      - 'protos/corndogsapis/**'
      - 'protos/buf.gen.yaml'
      - 'protos/buf.work.yaml'
jobs:
  buf:
    name: Run buf commands
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.x
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13' 
      - name: Install protoc plugin dependencies
        shell: bash
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          python3 -m pip install --upgrade pip
          python3 -m pip install grpclib protobuf
      - uses: crazy-max/ghaction-dump-context@v1
      - uses: catalystcommunity/action-buf@v2
        with:
          working-directory: "protos"
          token: ${{ secrets.GIT_RUNNER_TOKEN }}
          registry-login: false
          breaking-against: "https://github.com/${GITHUB_REPOSITORY}.git#branch=main,subdir=protos"
